.box-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ud-buttons {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

.box-details {
  width: 98%;
}

.items-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.box-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.box-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.items-container > section {
  width: 80%;
  min-width: 360px;
  border: 1px solid rgba(76, 218, 140, .5);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.items h2{
  font-size: 3.2rem;
  margin: 0;
}

.items h3{
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.items table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.items td {
  padding: 8px 5px;
  font-size: var(--font-reg);
  text-align: center;
}

.items th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: var(--accent-text-color) solid 2px;
  text-align: center;
}

.items tr:nth-child(even) {
  background-color:rgba(59, 175, 111, 0.726);
  color: var(--accent-text-color)
}

@media only screen and (min-width: 768px) {
  .box-container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 75% 25%;
    justify-content: center;
  }

  .box-details {
    text-align: left;
    grid-column: 3 / 4 ;
  }
  
  .box-img {
    margin-right: 25px;
    grid-column: 2 / 3;
    justify-self: center;
  }

  .ud-buttons {
    grid-column: 2 / 4;
    justify-content: center;
  }

  .items-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .items-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .items-container {
    padding: 0 40px;
  }
}