.items-list{
  width: 80%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

td {
  padding: 8px 5px;
  font-size: var(--font-reg);
  text-align: center;
}

th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
  text-align: center;
}

tr:nth-child(even) {
  background-color:rgba(59, 175, 111, 0.726);
  color: var(--accent-text-color);
}

.item-search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.search-box {
  font-family: inherit;
  font-weight: 600;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  height: calc(2 * var(--font-l) + 12px);
  font-size: var(--font-l);
}