{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/box-index.css' %}">
{% endblock  %}

{% block content %}

<section class="page-header">
  <h1>My Boxes</h1>
</section>

<section class="card-container">
  {% for box in boxes %}
    <div class="card">
    <a href="{% url 'boxes_detail' box.id %}">
      <div class="card-content">
        <div class="card-img-container">
          {% if box.isClosed %}
            <img src="{% static 'images/closed_box.png' %}" alt="A Closed Box" class="box-img">
          {% else %}
            <img src="{% static 'images/open_box.png' %}" alt="An Open Box" class="box-img">
          {% endif %}
        </div>
        <h2 class="card-title">Box #{{box.number}}</h2>
        {% if box.size %}
          <p class="card-text">{{ box.size }}</p>
        {% endif %}
        {% if box.category %}
          <p class="card-text">{{ box.category }}</p>
        {% endif %}
      </div>
    </a>
    </div>
  {% endfor %}
{% if not boxes %}
  <h2>You have no boxes!</h2>
{% endif %}
</section>

{% endblock  %}